@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #EAC926;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

/* HEADER------------------------------------------*/
#logo-mercado {
    width: 50%;
    padding: 10px;
}

header form#buscador {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-grow: 4;
    font-size: 11px;
    width: 50%;
}

header form#buscador input {
    background-color: #ffffff;
    border-radius: 25px;
    border: none;
    width: 80%;
    height: 30px;
    max-width: 500px;
    flex: auto;
}

header form#buscador button {
    background-color: #ffffff;
    width: 15%;
    padding: 5px;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 25px;
    margin: 5px;
}

div#compra {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-grow: 10;
}

header nav {
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

nav#navegador ul {
    list-style-type: none;
    text-decoration: none;
    padding: 2px;
}

div#menu {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-grow: 10;
}

i.fa-bars {
    background-color: #1259c3;
    color: white;
    border-radius: 15%;
    padding: 5px;
    margin: 1rem;
}

/* HEADER------------------------------------------*/


img#banner {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* MAIN------------------------------------------*/
main {
    width: 90%;
    margin: 0 auto;
}

h3.titular {
    font-size: 24px;
    margin: 2px;
}

main section div.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

article {
    margin: 10px 0px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

img.producto {
    width: 100%;
}

div.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

main section article i {
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

div.c-padre {
    display: flex;
    flex-wrap: wrap;
}

p.precio {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    padding: 5px;
}

p.descuento {
    font-size: 16px;
    color: #39b54a;
    display: flex;
    flex-direction: row;
    flex-grow: 7;
    padding: 5px;
}

h4.descripcion {
    font-size: 16px;
    margin: 10px;
}

/* MAIN------------------------------------------*/

/* FOOTER------------------------------------------*/
footer {
    margin: 10px;
}

footer div {
    text-align: center;
    padding: 10%;
    background-color: #ffffff;
}

footer i {
    font-size: 40px;
    background-color: #ffffff;
    color: #1259c3;
}

/* FOOTER------------------------------------------*/

@media (max-width: 360px) {
    .descripcion {
        display: none;
    }

    #navegador {
        display: none;
    }

}

@media (min-width: 361px) {

    header {
        align-items: center;
        justify-content: space-around;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        /*margin: 5px;*/
    }

    div#menu {
        display: none;
    }

    #logo-mercado {
        width: 30%;
        padding: 10px;
    }

    header form#buscador {
        width: 30%;
    }

    div#compra {
        width: 30%;
        font-size: 14px;
    }

    header nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content:center
    }

    header nav {
        padding: 10px;
    }

    header ul {
        display: flex;
        flex-direction: row;
    }

    header ul li {
        padding: 5px;
    }

}

@media (min-width: 769px) {
    article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 23%;
    }

    div#menu {
        display: none;
    }
}